.file_sharing_main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 4em;
    padding: 5%;
    margin-left: 20%;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: aliceblue;
    width: max-content;
    transition: all 1s ease-in-out;
}

.file_sharing_main:hover{
    border-radius: 2em;
    border-width: 0.1em;
    border-color: rgb(210, 30, 30);
    cursor: pointer;
    background-color: #f7bced;
    transition: all 1s ease-in-out;
}

.input_file_type{
    font-size: 30%;
}

.button_file_sharing{
    background-color: greenyellow;
    margin: 1em;
    padding: 1% 2%;
    font-size: 35%;
    border: 2px solid brown;
    border-radius: 0.5em;
    transition: all 2s ease-in-out;
}

.button_file_sharing2{
    background-color: greenyellow;
    margin: 1em;
    padding: 1% 2%;
    font-size: 35%;
    border: 2px solid brown;
    border-radius: 0.5em;
    transition: all 2s ease-in-out;

}


.button_file_sharing:hover{
    background-color: #6087e0;
    padding: 2% 4%;
    transition: all 1s ease-in-out;
}

.button_file_sharing2:hover{
    background-color: #6087e0;
    padding: 10% 20%;
    transition: all 1s ease-in-out;
}